streamlit>=1.29   #frontend framework
supabase>=2.0.2   #supabase client 
fastapi>=0.104.1  #backend api framework
uvicorn>=0.24.0   #asgi server for fast api
python-dotenv>=1.0.0 #environment variables
